.game-card {
    font-size: 20px;
  }

  .game-card article > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .game-card article h1 {
    font-size: 50px;
  }
  
  .game-card p {
    text-align: justify;
    color: #3a3535;
    font-size: 22px;
  }
  
  .game-card .details {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
  }
  
  .slide-container {
    position: relative;
  }
  
  .slide-container img {
    vertical-align: middle;
    width: 100%;
  }
  
  .slide-container > .img-active {
    display: block;
  }
  
  .slide-container > .img-inactive {
    display: none;
  }
  
  .arrows {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-size: 20px;
    border: none;
    background-color: transparent;
  }
  
  .previous {
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .previous:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  
  .gallery img {
    cursor: pointer;
  }
  
  .gallery .inactive {
    opacity: 0.6;
  }
  
  .gallery .active,
  .gallery img:hover
   {
    opacity: 1;
  }
  
  .ratings-content {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px
  }
  
  .ratings {
    padding: 0 20px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
  }
  
  .ratings span {
    text-transform: capitalize;
    display: inline-block;
  }
  
  .exceptional {
    background-color: #418441;
    color: #013501;
  }
  
  .recommended {
    background-color: #1f5ca9;
    color: #050544;
  }
  
  .meh {
    background-color: #e49857;
    color: #474800;
  }
  
  .skip {
    background-color: #ec4646;
    color: #7d0202;
  }
  
  .count {
    float: left;
    margin: 0 10px 0 -25px;
    text-align: center;
    width: 50px;
    border-radius: 50% 0px 0px 50%;
  }
  
  .count-exceptional {
    background-color: #6daf80;
  }
  
  .count-recommended {
    background-color: #21769e;
  }
  
  .count-meh {
    background-color: #eab285;
  }
  
  .count-skip {
    background-color: #d66d6d;
  }

  .subtitle {
    display: flex;
    justify-content: flex-start;
  }
  
  .subtitle h2 {
    text-transform: capitalize;
    padding: 15px;
    font-size: 35px;
  }

  .game-card footer {
    padding: 25px 0;
  }